{% extends 'base.html' %}

{% load static %}


{% block title %}
<title>AkkaIAS | Change-Password</title>
{% endblock %}



{% block csscode %}
<style>
  .message {
    list-style-type: none;
  }

  .info {
    background-color: rgb(127, 206, 255) !important;
  }
</style>
{% endblock csscode %}

{% block body %}
<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Forgot Password?</h5>
                  <p class="text-center small">Enter your Registered Email</p>
                </div>

                <form class="row g-3 needs-validation" method="post" action="{% url 'forgot_password' %}" novalidate>
                  {% csrf_token %}
                  <!-- Email address input-->
                  <div class="form-floating mb-3">
                      <input class="form-control" id="email" type="email" name="email" placeholder="name@example.com"
                          data-sb-validations="required,email" required/>
                      <label for="email">Email address</label>
                  </div>
                  <div  id="submitErrorMessage">
                      {% if messages %}
                        {% for message in messages %}
                            <div class="text-center text-danger mb-3">{{message}}</div>
                        {% endfor %}
                      {% endif %}
                  </div>
                  <!-- Submit Button-->
                  <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>
</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

{% endblock body %}