{% extends 'base.html' %}

{% load static %}


{% block title %}
<title>IEEE | Login Page</title>
{% endblock %}


{% block csscode %}

{% endblock %}


{% block body %}
<!-- Page content-->
<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Login Page</h1>
                <p class="lead fw-normal text-muted mb-0">First step for success</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form id="contactForm" action="{% url 'login_page' %}" method="post">
                        {% csrf_token %}
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="username" type="text" name="username" placeholder="name@example.com"
                                data-sb-validations="required,username" required/>
                            <label for="username">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="password" type="password" name="password" placeholder="name@example.com"
                                data-sb-validations="required,password" required/>
                            <label for="password">Password</label>
                        </div>
                        <div  id="submitErrorMessage">
                            {% if messages %}
                              {% for message in messages %}
                                  <div class="text-center text-danger mb-3">{{message}}</div>
                              {% endfor %}
                            {% endif %}
                        </div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button></div>
                    </form>
                    <hr>
                    <p class="text-center"><a href="{% url 'register_page' %}" class="text-decoration-none">Do not have account?</a></p>
                    <p class="text-center"><a href="{% url 'forgot_password' %}" class="text-decoration-none">Forgot Password</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}